admin.email.from.address="###TOKEN_setup_admin.email.from.address###"
admin.email.from.name="###TOKEN_setup_admin.email.from.name###"
company.default.locale="###TOKEN_setup_company.default.locale###"
company.default.web.id="###TOKEN_setup_company.default.web.id###"
default.admin.email.address.prefix="###TOKEN_setup_default.admin.email.address.prefix###"
liferay.home="###TOKEN_setup_liferay.home###"
setup.wizard.enabled="###TOKEN_setup_setup.wizard.enabled###"
